.tituloTabela {
	font-size: 0.95em;
	font-style: italic;
}

.tabela{
	border: thin solid black;
	background: lavender;
}

.tabelaCabecalho{
	text-align: center;
	font-style: italic;
	color: snow;
	background: teal;
}

.tabelaRodape{
	text-align: center;
	color: snow;
	background: teal;
}